@import url("https://p.typekit.net/p.css?s=1&k=isk2wgo&ht=tk&f=37550.37551.41334.41346&a=70548432&app=typekit&e=css");

@font-face {
font-family:"raleway-v20-deprecated";
src:url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/df3220/00000000000000007735c160/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:;
src:url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/01a8d9/00000000000000007735c151/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"chapman";
src:url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a876be/00000000000000007735b777/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"chapman";
src:url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6e3b11/00000000000000007735b786/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-raleway-v20-deprecated { font-family: "raleway-v20-deprecated",sans-serif; }
.tk-chapman { font-family: "chapman",sans-serif; }

body{
    margin: 0 auto;
    padding: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    /* background-color: #333333; */
}

.pages{
    list-style: none;

}

.pages li{
    display: inline-block;
    padding:0px 20px;
    font-family: "raleway-v20-deprecated";
    font-size: 16pt;
    /* color: white; */
}

.pages li:hover{
    color:wheat;
    cursor: pointer;
}


.logo{
    width: 10%;
    height: auto;
    cursor:pointer ;
    padding: 0%;
    /* margin: 0px 50px; */
    /* text-align: center; */
}

.jumbotron {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

.container{
      display: flex;
      align-items: center;
      justify-content: center;
  }

.hero{
    color: white;
    background-image: url("../images/Background-image1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

.case-study-nav .col{
    margin: 25px;
    pad: 25px;
}

.overview{
    background-color: #191919;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 100vh;
    /* margin: 0px 0px; */
}

.black-back{
    background-color: #191919;
}
.case-study-nav{
    background-color: #191919;
    color: white;
    background-size: cover;
}

.case-study-nav h1:hover{
color: #F6D1FC;
cursor: pointer;
}

.research-hero{
    /* background-image: url(../images/Research-Background.png); */
    background-image: url(../images/research-background-img.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

h1{
    font-family: "chapman",serif ;
}

h2{
    font-family: "chapman",serif ;
}

h3{
    font-family: "chapman",serif ;
}
p{
    font-family: "raleway-v20-deprecated",sans-serif;
}

#quote{
    padding: 100px;
    /* margin: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.next{
    padding: 50px;
    display: flex;
    background-color: #F6D1FC;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
@media screen and(max-width:600px) {
    
}